/* --------------------Margin Padding set to 0 And FontStyleing-----------------------  */
body {
    background-color: rgb(248, 251, 254);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
#wholeBody {
    width: 75%;
    margin: auto;
}
/* --------------------------------Top Heading Text ----------------------------------- */

#heading {
    height: auto;
    width: 100%;
    margin: 10vh auto auto auto;
    text-align: center;

}

.top_heading_wrapper {
    height: 18vh;
    padding: 5px;
}

.text_content_box>h5 {
    font-size: 1.8rem;
    font-weight: 200;
    padding: 0px 10px 20px 10px;
    margin-bottom: 10px;
}
.top_bottom_text>h3 {
    font-size: 1.6em;
    font-weight: 200;
    margin-top: 25px;
}
.heading_bottom>h3 {
    margin-top: 15px;
    font-size: 1.6em;
    font-weight: 200;
    word-spacing: 0.2rem;
    color: #585f69;
}

/* ----------------------------------Crousel------------------------------------------- */

#cousel_grand_parent {
    height: 800px;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
#cousel_grand_parent>div {
    position: relative;
}

.cousel_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 1050px;
    height: 570px;
    overflow: hidden;
    position: relative;
  }

.slider {
    display: flex;
    flex-basis: 20%;
    flex: 1;
    height: 100%;
    flex-shrink: 0;
    width: 4200px;
    transition: .1s;
  }

.elements {
    width: 1050px;
    height: 512px;
    flex: 1;

  }

#btn1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 47%;
    left: -3.5%;
    z-index: 1;
    border-radius: 50%;
    
  }

#btn2 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -3.5%;
    top: 47%;
    z-index: 1;
    border-radius: 50%;
  }

/*----------------------------------------------- cards style--------------------------------------------- */

.elements {
    /* padding: 10px; */
}
.cards_Wrapper_First,
.cards_Wrapper_Second,
.cards_Wrapper_Third,
.cards_Wrapper_Fourth
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 5px;
    margin: 20px 5px 15px 5px;
}
.card_Parent {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    min-height: 195px;
    overflow-y: clip;
    overflow-y: clip;
}
.card_Parent>a {
    text-decoration: none;
}

.card_image>img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card_text {
    display: flex;
    align-items: center;
}
.card_text>h3 {
    padding: 0 25px 0 15px;
    margin-top: 20px;
    font-size: 1.7em;
    color: black;
    font-weight: 500;  
}


/* -----------------------------------------Middle Text Area-------------------------------------------- */

#Middle_Heading_Container {
    text-align: center;
}

.Middle_Heading_Top_Wrapper>h3 {
    padding: 5px 0px 5px 0px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.Middle_Heading_bottom_Wrapper>h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(107, 107, 107);
}

/* ------------------------------------------Table Top Search Bar----------------------------------------*/

#data_Table_Bottom_Main_Container {
    background-color: rgb(248, 251, 254);
    margin-top: 25px;
}

#search_box {
    border-radius:4px; 
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.4); 
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.4); 
    box-shadow: inset 0 2px 4px rgba(0,0,0,.24); 
    -webkit-border-top-left-radius: 5px;                  
    -webkit-border-bottom-left-radius: 5px;                  
    -moz-border-radius-topleft: 5px;                                             
    -moz-border-radius-bottomleft: 5px;                                     
    -webkit-border-top-right-radius: 0;                      
    -webkit-border-bottom-right-radius: 0;                                                 
    -moz-border-radius-topright: 0;                                                 
    -moz-border-radius-bottomright: 0;                                                  
    border-top-left-radius: 5px;                                                 
    border-bottom-left-radius: 5px;                                          
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid rgba(0, 0, 0, .25); 
    border-top: 1px solid rgba(0, 0, 0, .25);
    border-bottom: 1px solid #B2B2B2;                    
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    border-right: 0;
    padding: .375em 0 .375em .55em;
    margin-bottom: 0;
    margin-right: 5px;
    width: 15em;
    line-height: 1.5em;
    font-size: 1em;
    height: 2.3em;
    vertical-align: top;
}
#Top_Table_Middle_Box_sort_wrapper a {
    text-decoration: none;
    color: black;
}
#Top_Table_Middle_Box_sort_wrapper {
   display: flex; 
}
#Top_Table_Middle_Box_sort_wrapper>div {
    width: 210px;
    margin-right: 70px;
}

#bottom_jumbo_table {
    margin-top: 10px;
}
#bottom_jumbo_table_head {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    background: -webkit-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
  	background: linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
	border-radius:3px;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
   	box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    border-collapse: collapse;
}

#bottom_jumbo_table_head>tr>th {
    font-weight: 400;
}