*{
    box-sizing: border-box;
}


body{
    position:relative
}


#data1, #data3{
    /* border:  1px solid black; */
    margin: auto;
    width: 920px;
    /* height: 98px; */
}

#data2{
    /* border: 1px solid black; */
    margin: auto;
    width: 920px;
}


/*
*===================> MIDPART
*/

#midpart{
    /* border: 1px solid black; */
    margin: auto;
    width: 920px;
    margin-top: 10px;
    height: 500px;
    display: flex;
}

#midpart div:nth-child(1){
    width: 20%;
    /* margin:auto */
}

ul {
    list-style: none;
}

#midpart div:nth-child(2){
    width: 60%;
}

#midpart div:nth-child(2) img{
    margin-left: 15%;
    height: 100%;
    /* border: 1px solid black; */
}

#midpart div:nth-child(3){
    width: 20%;
}

button{
    background-color: #257cff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

li{
    text-decoration: none;
    margin-top: 50px;
    vertical-align: baseline;
    /* margin: auto; */
}


/*
*===================> MIDPART2
*/

#midpart2{
    border: 1px solid black;
    margin: auto;
    width: 920px;  
    /* height: auto; */
}

